.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  padding: 0 22px;

  font-family: 'Inter',sans-serif;
  font-style: normal;
  font-weight: 400;

  background-color: white;
  box-shadow: 0 10px 20px rgba(222, 220, 220, 0.56);

  .footer__title {

    font-size: 18px;
    line-height: 28px;

    color: rgba(0, 0, 0, 0.85);
  }

  .footer__authorization {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}

.footer__link {
  min-width: 110px;
  height: 51px;
  padding: 10px;

  font-size: 18px;
  line-height: 28px;
  background-color: transparent;
  border: none;
  transition: background-color 0.5s, color 0.5s;

  color: rgba(0, 0, 0, 0.85);

  &:hover {
    cursor: pointer;
    border: 1px solid rgba(222, 220, 220, 0.56);
    border-radius: 4px;
    background-color: #1890FF;
    color: white;
  }

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.auth__link {
  width: 112px;
  height: 31px;
  border: 1px solid #52C41A;
  border-radius: 5px;
  background-color: white;


  font-size: 14px;
  line-height: 28px;
  color: #52C41A;
  transition: background-color 0.5s, color 0.5s;

  &:hover {
    cursor: pointer;
    background-color: #52C41A;
    color: white;
  }
}

.active--link {
  border: 1px solid #52C41A;
  border-radius: 5px;


  font-size: 18px;
  line-height: 28px;
  color: #52C41A;
  transition: background-color 0.5s, color 0.5s;

  &:hover {
    cursor: pointer;
    background-color: #52C41A;
    color: white;
  }
}

.footer__auth {
  width: 440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__auth-profile {
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: black;
  padding: 3px 10px;
  transition: border-color 1s, background-color 1s;

  &:hover {
    background-color: #e8e3e3;
    border: 1px solid black;
  }
}

.auth__link--logout {
  padding: 10px;
  background-color: white;
  border-radius: 4px;
  border: 1px solid black;
  font-size: 18px;
  line-height: 28px;

  color: rgba(0, 0, 0, 0.75);
  transition: background-color 0.5s, color 0.5s;

  &:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
  }
}

.auth__name {
  font-size: 18px;
  line-height: 28px;
  margin-right: 10px;

  color: rgba(0, 0, 0, 0.85);
}

.auth__img {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  object-fit: cover;
}