.article__item {
  position: relative;
  width: 100%;
  height: 180px;
  padding: 15px 19px;
  background-color: white;
  border-radius: 2px;
  margin-top: 26px;
  margin-bottom: 26px;
  box-shadow: 0 10px 20px rgba(222, 220, 220, 0.56);

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;

}

.article__tags {
  display: flex;
  align-items: center;
  height: 20px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  padding: 3px;
  margin-bottom: 5px;


  &:not(:last-child) {
    margin-right: 5px;
  }

  font-size: 12px;
  line-height: 15px;

  color: rgba(0, 0, 0, 0.5);
}

.article__pre-text {
  font-size: 13px;
  line-height: 22px;

  color: rgba(0, 0, 0, 0.75);
}

.tags__wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 700px;
  width: 100%;
}

.article__heading {
  display: flex;
  align-items: center;
  width: 500px;
  margin-bottom: 7px;

  .article__heading-text {
    margin-right: 13px;

    font-size: 20px;
    line-height: 28px;

    color: #1890FF;
  }

  p {
    margin: 0;
  }


}

.article__heading-likes {
  display: flex;
  align-items: center;



  .likes__count {
    font-size: 12px;
    line-height: 22px;

    color: rgba(0, 0, 0, 0.75);
  }
}

.liked {
  path {
    fill: #FF0707;
    stroke: none;
  }
}

.unAuth__like {
  margin-right: 5px;
}

.likes__img {
  margin-right: 5px;

  path {
    transition: fill 0.5s;
    &:hover {
      cursor: pointer;
      fill: #FF0707;
      stroke: none;
    }

    &:active {
      transform: matrix3d(0.8,0,0.00,0,0.00,0.8,0.00,0,0,0,1,0,0,0,0,1);
      transform-origin: center center 0;
      transition: all 0.2s ease 0s;
      -webkit-transform-origin: center center 0;
      -webkit-transition: all 0.2s ease 0s;
    }
  }
}

.article__author {
  position: absolute;
  top: 15px;
  right: 14px;
  display: flex;
  height: 46px;

  .author__info {
    width: 90px;
    display: flex;
    flex-direction: column;
    margin-right: 12px;

    .author__name {

      font-size: 18px;
      line-height: 28px;

      color: rgba(0, 0, 0, 0.85);
    }

    .author__date {
      font-size: 12px;
      line-height: 22px;
      color: rgba(0, 0, 0, 0.5);
    }

  }
}

.author__img {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  object-fit: cover;
}
